@charset "UTF-8";
// Variables;
@import "components/variables/settings";
// Mixins
@import "components/mixins/media-queries";
@import "components/mixins/border";
@import "components/mixins/clearfix";
@import "components/mixins/animations";
// components
@import "components/basics/grid";
@import "components/basics/main-menu";
@import "components/basics/sub-menu";
// Helpers
@import "components/helpers/visibility";

// Generic Styling
html {
    font-size: $font-size-default; //base size for rem units
}

body {
    background-color: #F1FFFA;
    font-family: $font-family-default;
}

header,
main {
    padding: 5px;
}

main {
    background-color: white;

    h1 {
        padding: 20px 0;
    }
}

h2 {
    padding: 20px 0;
}

header {

    h2 {
        text-align: center;
        margin: 20px 0;
        padding: 10px;
        font-size: 2.3rem;
        font-style: italic;
        color: $font-color-default;
        background-color: $blue-default;

        @include media(medium-up) {
            font-size: 4rem;
        }
    }

}

section {
    border-top: 1px solid $blue-default;
}
