//colors
$blue-default: #007bff !default;

//font
$font-size-default: 13px !default;
$font-family-default: 'Palatino Linotype', 'Book Antiqua', Palatino, serif !default;
$font-color-default: #454545 !default;
