.is-hidden {

    display: none !important;

    &-small {
        @include media(small-only) {
            display: none !important;
        }
    }

    &-small-up {
        @include media(small-up) {
            display: none !important;
        }
    }

    &-medium-up {
        @include media(medium-up) {
            display: none !important;
        }
    }

    &-medium {
        @include media(medium-only) {
            display: none !important;
        }
    }

    &-large {
        @include media(large-up) {
            display: none !important;
        }
    }
}

