{
    "extends": "stylelint-config-sass-guidelines",
    "rules": {
        "declaration-block-properties-order": null,
        "indentation": 4,
        "max-empty-lines": 2,
        "max-nesting-depth": 4,
        "no-eol-whitespace": true,
        "number-leading-zero": "never",
        "number-max-precision": 3,
        "scss/at-function-pattern": "",
        "scss/at-import-no-partial-leading-underscore": null,
        "scss/at-mixin-pattern": "",
        "scss/dollar-variable-colon-space-after": null,
        "scss/dollar-variable-pattern": "",
        "selector-class-pattern": "",
        "selector-no-qualifying-type": [ true, {
            "ignore": ["attribute", "class"]
        }],
        "selector-pseudo-element-colon-notation": "single",
        "string-quotes": "double"
    }
}
