// breakpoints
$breakpoints: (
        small-up: "screen",
        small-only: "screen and (max-width: #{$small-range-up})",
        medium-up: "screen and (min-width:#{$medium-range-down})",
        medium-only: "screen and (min-width:#{$medium-range-down}) and (max-width:#{$medium-range-up})",
        large-up: "screen and (min-width:#{$large-range})",
) !default;

@mixin media($state) {
    $breakpoint-string: map-get($breakpoints, $state);

    @if ($breakpoint-string) {
        @media #{$breakpoint-string} {
            @content;
        }
    } @else {
        @error "the state " + $state + " does not exist";
    }
}
