@charset "UTF-8";
// Variables;
@import 'components/variables/settings';
// Vendor
@import '~bootstrap/scss/bootstrap.scss'; // v4: https://github.com/twbs/bootstrap
// Generic Styling
html {
  font-size: $font-size-default; //base size for rem units
}

body {
  background-color: #f1fffa;
  font-family: $font-family-default;
  background-color: $bg-color;
}

h1,
h2 {
  text-align: center;
  text-transform: capitalize;
  margin: 20px 0;
  padding: 10px;
  font-size: 2.3rem;
  font-style: italic;
  color: white;
  background-color: $blue-default;
  word-break: break-word;
}

h3 {
  margin-top: 10px;
  padding: 10px;
}

.projects {
  h2 {
    a {
      color: white;
      text-decoration: underline;
    }
  }
}

.container {
  background-color: whitesmoke;
  padding-bottom: 2rem;
  padding-top: 0.5rem;
  margin-bottom: 2rem;
  h4 {
    text-transform: capitalize;
    font-size: 1rem;
    word-break: break-word;
  }
  .btn {
    white-space: normal;
  }
}

.media {
  align-items: center;
  @include media-breakpoint-only(xs) {
    flex-direction: column;
    text-align: center;
  }
}

.active {
  text-decoration: underline;
}

.navbar-collapse {
  background-color: $bg-color;
  a {
    color: white;
  }
}

.loading-bar {
  width: 100%;
  position: relative;
  background-color: $blue-default;
  height: 5px;
}
