.sub-menu {
    background-color: $blue-default;

    &__item {
        padding: 20px;
        color: white;
        text-decoration: none;
        display: inline-block;

        @include media(small-only) {
            display: block;
            text-align: center;
        }

        &:hover, &--active {
            text-decoration: underline;
        }
    }

}

