@charset "UTF-8";

// Variables;
@import "components/variables/settings";
// Mixins
@import "components/mixins/media-queries";
@import "components/mixins/border-box";
@import "components/mixins/clearfix";
@import "components/mixins/animations";
// components
@import "components/basics/grid";
@import "components/gallery";
// Helpers
@import "components/helpers/visibility";

// Generic Styling
header,
main {
    padding: 5px 0;
}

header {

    h1 {
        text-align: center;
        margin: 20px 0;
        font-size: 30px;
        color: #ffffff;

        @include media(medium-up) {
            font-size: 50px;
        }
    }

}

