@charset "UTF-8";

// Variables;
@import "components/variables/settings";
// Mixins
@import "components/mixins/media-queries";
@import "components/mixins/border-box";
@import "components/mixins/clearfix";
// Helpers
@import "components/helpers/visibility";
// components
@import "components/basics/grid";

// Generic Styling
$article-height: 80px;

header,
main {
    padding: 20px 0;

}

header {

    h1 {
        text-align: center;
        margin: 20px 0;
        font-size: 50px;
    }

    p {
        @include media (medium-up) {
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-count: 2;
        }
    }

}

main {

    article {
        background-color: black;
        margin-top: 20px;

        &.height {
            &--1 {
                height: $article-height;
            }
            &--2 {
                height: $article-height * 2;
            }
            &--3 {
                height: $article-height * 3;
            }
        }
    }

}


