$num-cols: 12 !default;
$grid-max-width: 1280px !default;
$gutter-width: 1.5rem !default;

*,
*:after,
*:before {
    margin: 0;
    padding: 0;

    @include border-box;

}

.grid {
    width: 100%;

    &-container {
        max-width: $grid-max-width;
        width: 90%;
        margin: 0 auto;
        display: block;

        @include media (medium-up) {
            width: 85%;
        }

        .grid-row {
            margin-left: (-1 * $gutter-width / 2);
            margin-right: (-1 * $gutter-width / 2);
        }
    }

    &-row {

        @include clearfix();

        .grid-col {
            box-sizing: border-box;
            float: left;
            min-height: 1px;
            padding: 0 $gutter-width / 2;

            $i: 1;
            @while $i <= $num-cols {
                $perc: unquote((100 / ($num-cols / $i)) + "%");

                &-s#{$i} {
                    left: auto;
                    margin-left: auto;
                    right: auto;
                    width: $perc;
                }
                $i: $i + 1;
            }

            $i: 1;
            @while $i <= $num-cols {
                $perc: unquote((100 / ($num-cols / $i)) + "%");

                $i: $i + 1;
            }

            @include media(medium-up) {
                $i: 1;
                @while $i <= $num-cols {
                    $perc: unquote((100 / ($num-cols / $i)) + "%");

                    &-m#{$i} {
                        left: auto;
                        margin-left: auto;
                        right: auto;
                        width: $perc;
                    }
                    $i: $i + 1;
                }

                $i: 1;
                @while $i <= $num-cols {
                    $perc: unquote((100 / ($num-cols / $i)) + "%");

                    $i: $i + 1;
                }
            }

            @include media(large-up) {
                $i: 1;
                @while $i <= $num-cols {
                    $perc: unquote((100 / ($num-cols / $i)) + "%");

                    &-l#{$i} {
                        left: auto;
                        margin-left: auto;
                        right: auto;
                        width: $perc;
                    }
                    $i: $i + 1;
                }

                $i: 1;
                @while $i <= $num-cols {
                    $perc: unquote((100 / ($num-cols / $i)) + "%");

                    $i: $i + 1;
                }
            }
        }

    }

}
